.top-section{ padding-top: 150px;
    .topsection-wrapp{ background-image: url('../images/bg.jpg'); background-position: center center; background-repeat: no-repeat; width:100%; height:100%;
        .text-box{
            p{font: 400 30px/30px 'segoe'; color:#46484a; text-transform: uppercase;
                &:nth-child(2){font: 700 30px/30px 'segoe'; color:#1e78b0;}
                &:nth-child(3){font: 400 25px/25px 'segoe'; color:#8b8b8b; text-transform: none;}
            }
            &:before{background-image: url('../images/arrow-girl.png'); background-position: center center; background-repeat: no-repeat; width:41px; height:93px; content: ''; display: block;}
        }
    }
}