/*header*/
header{
    .header-wrap{display: table;width: 100%;}
    .header-item{display: table-cell;width: 33.33%;vertical-align: middle;}

    .header-logo{
        a,div{text-decoration: none;display: block;}
        .header-subtext{background: #000;transform: skew(0, -3.5deg);color: white;padding: 6px 10px;text-align: center;width: 115px;font-size: 14px;}
    }
}