/* footer */

	.footer{overflow: visible;

		.footer-wrap{position: relative;padding-top: 20px;
			&:before, &:after{content:'';background-color:red;position: absolute;}
			&:before{left: 0;right: 0;bottom: 0;top: 0;background-color:red;transform:skewY(-3deg);}
			&:after{bottom: -50px;left:0;right: 0;height: 100px;}
		}

		

	}

/* /footer */