/*header*/
header{
    .header-wrap{display: table;width: 100%;}
    .header-item{display: table-cell;width: 33.33%;vertical-align: middle;}

    .header-logo{
        a,div{text-decoration: none;display: block;}
        .header-subtext{background: #000;transform: skew(-7deg, 0deg);color: white;padding: 6px 10px;text-align: center;width: 115px;font-size: 14px;font-family: 'Open Sans Condensed';margin-left: 65px;margin-bottom: -20px;font-weight: bold;
        span{transform: skew(7deg, 0deg);display: block;}
        }
    }

    .header-item.center{
        a{ont-family: 'Open Sans Condensed';display: inline-block;font-weight: bold;font-size: 15px;text-transform: uppercase;color: #4f5153;background: #f4f5f5;margin-bottom: 3px;}
        .header-login{}
        .header-reg{color: white;background: #28a2d5;}
    }

}