/*topsection*/
    .top-section{ padding-top: 167px; background-image: url('../images/bg.jpg'); background-position: 177px 7px; background-repeat: no-repeat; width:100%; height:100%; position: relative;  overflow: hidden; padding-bottom: 67px;
        .orange-fit{height:209px; width:100%; background-color:rgba(255, 137, 0, 0.35); position: relative; transform: matrix(1, -0.06, 0, 1, 0, 0); position: absolute; top:325px;
            &:before{height:209px; width:100%; background-color:rgba(255, 137, 0, 0.35);content: ''; display: block; position: absolute; top:0; left:0;}
            &:after{height:209px; width:100%; background-color:rgba(255, 137, 0, 0.35);content: ''; display: block; position: absolute; top:0; left:0;}
        }
        .blue-fit{height:160px; width:100%; background-color:rgba(30, 120, 176, 1); position: relative; transform: matrix(1, -0.06, 0, 1, 0, 0); z-index: 100;
            .dot-wrap{overflow: hidden;position: absolute; width: 1920px; height: 160px;}
            .dot{box-shadow:0px 0px 144px 33px rgba(0, 0, 0, 0.75); width: 0; height: 0; position: absolute; left: 895px; top: 126px;z-index: -1;
                &:nth-child(2){    left: 1377px;  top: 35px;}
                &:nth-child(3){left:420px; top: 10px;}
            }
            a{text-decoration: none; float:left; background-image: url('../images/bg5.png'); background-position: left 34px; background-repeat: no-repeat; height: 160px; position: relative;
                &:nth-child(3){
                    &:after{background-image: url('../images/borderq.png'); background-position: center; background-repeat: no-repeat; height: 106px; width:2px; content: ''; display: block; top:29px;  right: -25px; position: absolute;}
                }
                &:before{background-image: url('../images/borderq.png'); background-position: center; background-repeat: no-repeat;height: 106px; width:2px; content: ''; display: block; top:29px; left: -25px; position: absolute;}
                &:nth-child(2){
                    &:before{left:-25px;}
                }
                p{font: bold 15px/15px 'Open Sans Condensed'; color:#fff;
                    &:nth-child(1){    background: #28a2d5;    padding: 8px 15px; position: absolute; left: 101px;    top: 50px; transition: all 500ms;}
                    &:nth-child(2){   padding-top: 93px; width:140px;}
                }
                &:hover{
                    p{
                        &:nth-child(1){background-color: #fff; color: #28a2d5;}
                    }
                }
            }
            .cash{background-image: none;
                .cash-wrap{ /* transform: matrix(1, 0.06, 0, 1, 0, 0); */ position: relative; height:140px; width:430px; padding-top: 55px;
                    div{position: absolute;  transform: scale(1, 1); opacity:1; transition:all 500ms;
                        b{color: #b0e8ff; font: bold 62px/62px 'Open Sans Condensed'; display: block; float:left;}
                        span{color: #fff;font: bold 20px/20px 'Open Sans Condensed'; display: block; float:left; text-transform: uppercase; width:170px; padding-left: 10px; padding-top: 14px;}
                        &:nth-child(2){ transform: scale(-1, 1); opacity:0;
                            span{text-align: right;padding-left: 0; padding-right: 10px;}
                        }
                    }
                }
                &:hover{
                    .cash-wrap{
                        div{transform: scale(-1, 1); opacity:0;
                             &:nth-child(2){ transform: scale(1, 1); opacity:1;}
                        }
                    }
                }
            }
            .video{ padding-left: 100px;     width: 285px;
                &:hover{
                    .vidosik{transform:matrix(1, 0.06, 0, 1, 0, 0) scale(1,1); opacity:1;}
                }
            }
            .bonus{padding-left: 100px; background-image: url('../images/bg6.png'); }
        }
        .topsection-wrapp{
            .text-box{ position: relative;  padding-left: 11px; padding-bottom: 67px;
                p{font: 400 30px/30px 'segoe'; color:#46484a; text-transform: uppercase; letter-spacing: -0.4px;
                    &:nth-child(2){font: 600 30px/28px 'segoe'; color:#1e78b0; width: 100%; max-width: 505px; padding-left: 33px; padding-top: 7px;}
                    &:nth-child(3){font: 400 25px/25px 'segoe'; color:#8b8b8b; text-transform: none;padding: 15px 0 0 53px; letter-spacing: -0.6px;}
                }
                &:before{background-image: url('../images/arrow-girl.png'); background-position: center center; background-repeat: no-repeat; width:41px; height:93px; content: ''; display: block; position: absolute; left: -8px; top:54px;}
            }
        }
        .orange-content{padding-bottom: 28px;
            .item{ display: block; float:left; background-image: url('../images/bg1.png'); background-position: left bottom; background-repeat: no-repeat; width:100%; max-width: 300px; height: 96px; transition: all 500ms; text-decoration: none;     padding-left: 137px; vertical-align: top; color: #fff; padding-top: 18px;
                p{font: 600 27px/22px 'segoe'; text-transform: uppercase; letter-spacing: -0.7px;   transition: all 500ms;
                    &:nth-child(2){font: 400 27px/27px 'segoe'; letter-spacing: -0.1px;}
                    &:nth-child(3){text-transform:none; font: bold 17px/17px 'Open Sans Condensed'; opacity:0;}
                }
                &:nth-child(1){ margin-left: 12px;  margin-right: 31px; margin-top: 42px;}
                &:nth-child(2){ background-image: url('../images/bg2.png'); height: 128px; margin-right: 19px; padding-top: 37px; padding-left: 145px;}
                &:nth-child(3){ background-image: url('../images/bg3.png'); height: 99px; max-width: 311px; margin-top: 6px; padding-top: 16px; padding-left: 152px;}
                &:hover{background-position: left top; padding-top: 2px;
                    p{color:#ffeb00;}
                    p:nth-child(3){opacity:1; color:#fff;}
                    &:nth-child(2){padding-top: 21px;}
                    &:nth-child(3){padding-top: 0;}

                }
            }
        }
        .video-wrapp{position: relative;}
        .vidosik{position: absolute; top: -270px;    left:-160px;    z-index: 100;  transform-origin: center bottom;  opacity: 0; transition:all 500ms; transform: matrix(1, 0.06, 0, 1, 0, 0) scale(1, 0);

        }
    }
/*END topsection*/
/*left*/
    .left-wrapp{     float: left;    width: 100%;     max-width: 350px;
        .title{font: bold 30px/30px 'Open Sans Condensed'; color:#1e78b0; text-transform: uppercase; padding: 27px 0 31px;}
        .comments-wrap{
            .item{     margin-bottom: 37px;
                .avatar{width:112px; height: 112px; border-radius: 50%; border: 5px solid #fff; position: relative; overflow: hidden; float: left;
                    img{ max-width: none; position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
                }
                .content{ padding-left: 121px;
                    p{
                        span{font: bold 15px/15px 'Open Sans'; color: #2a2f33;
                            &:nth-child(2){font: 400 15px/15px 'Open Sans'; color: #737373;}
                        }
                        a{    color: #54a90e;    font-style: italic;}
                        &:nth-child(2){color: #2e3f49;    font-size: 15px; line-height: 18px;}
                        &:nth-child(1){margin-bottom: 2px;}
                    }
                }
                &:hover{
                    .avatar{box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);}
                }
            }
        }
        .all-comments{width: 167px;    height: 39px;  display: block;  background-image: url('../images/btn_comment.png'); background-position: center; background-repeat: no-repeat; transition:all 500ms; margin-bottom: 35px;
            &:hover{background-image: url('../images/btn_comment_hover.png');}
         }
        .info{
            p{   margin-bottom: 22px;
                &:nth-child(1){color:#1e78b0;font: bold 18px/18px 'Open Sans';     margin-bottom: 17px; }
            }
        }
    }
/*END left*/
