	<!-- FOOTER -->
	<div class="footer_placeholder"></div>
	<footer class="footer">
		<div class="footer-wrap">
			<div class="mbox">

				<div class="footer-top">
					<ul>
						<li>
							<img src="images/footer-top-img1.jpg" alt="" />
						</li>
						<li>
							<img src="images/footer-top-img2.jpg" alt="" />
						</li>
						<li>
							<img src="images/footer-top-img3.jpg" alt="" />
						</li>
						<li>
							<img src="images/footer-top-img4.jpg" alt="" />
						</li>
					</ul>
				</div>

				<div class="footer-bottom">
					<ul>
						<li>
							<a href="#">
								<span class="list-text">Как работает кэшбэк-сервис?</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="list-text">Условия пользования</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="list-text">Бонусная программа</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="list-text">Контактная информация</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="list-text">Часто задаваемые вопросы</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="list-text">Отзывы</span>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</footer>
	<!-- FOOTER -->

	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/validate_script.js" ></script>
	<script type="text/javascript" src="js/main.js" ></script>
	<!-- /SCRIPTS -->
	</body>
</html>