	<!-- FOOTER -->
	<div class="footer_placeholder"></div>
	<footer class="footer">
		<div class="footer-wrap">
			<div class="mbox">

				<div class="footer-left">
					<div class="footer-left-img">
						<img src="images/footer-left-img.png" alt="" />
					</div>
					<div class="footer-left-text">© 2011 - 2014 . cash4brands Все права защищены</div>
					<div class="footer-left-link">
						<a href="#">Отправить сообщение</a>
					</div>
				</div>

				<div class="footer-list-links">
					<ul>
						<li>
							<a href="#">Как работает кэшбэк-сервис?</a>
						</li>
						<li>
							<a href="#">Контактная информация</a>
						</li>
						<li>
							<a href="#">Условия пользования</a>
						</li>
						<li>
							<a href="#">Часто задаваемые вопросы</a>
						</li>
						<li>
							<a href="#">Бонусная программа</a>
						</li>
					</ul>
				</div>

				<div class="footer-socials-list">
					<ul>
						<li>
							<a href="#">
								<span class="footer-socials-list-icon">
									<img src="images/socials-icon-vk.png" alt="" />
								</span>
								<span class="footer-socals-list-text">ВКонтакте</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="footer-socials-list-icon">
									<img src="images/socials-icon-fb.png" alt="" />
								</span>
								<span class="footer-socals-list-text">Facebook</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="footer-socials-list-icon">
									<img src="images/socials-icon-od.png" alt="" />
								</span>
								<span class="footer-socals-list-text">Одноклассники</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="footer-socials-list-icon">
									<img src="images/socials-icon-in.png" alt="" />
								</span>
								<span class="footer-socals-list-text">Instagram</span>
							</a>
						</li>
					</ul>
				</div>

				<div class="footer-right">
						
					<div class="footer-right-search">
						<!-- vaiting for radiks markup -->
					</div>

					<div class="footer-right-button">
						<a href="#" class="button footer-button">
							<span class="button-text">список магазинов</span>
						</a>
					</div>

				</div>

			</div>
		</div>
	</footer>
	<!-- FOOTER -->

	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/validate_script.js" ></script>
	<script type="text/javascript" src="js/main.js" ></script>
	<!-- /SCRIPTS -->
	</body>
</html>