<!-- HEADER -->
<div class="header">
    <div class="mbox">
        <div class="header-wrap">
            <div class="header-item left">
                <div class="header-logo">
                    <div class="header-subtext">
                        <span>27 - 30 ноября скидки до 70%</span>
                    </div>
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>

                </div>
            </div>
            <div class="header-item center">
                <a href="#header-login-popup" class="header-login fancybox-pop"><span>Войти</span></a><br>
                <a href="#header-reg-popup" class="header-reg  fancybox-pop"><span>Зарегистрироваться</span></a>
            </div>
            <div class="header-item right">
                <div class="search-form">
                    <form>
                        <div class="search-input cfix">
                            <div class="search-input-wrap">
                                <input type="text" placeholder="Например, Aliexpress" name="search_input" autocomplete="off">
                            </div>
                            <button class="" type="submit"></button>
                        </div>
                        <div class="search-title">
                            <span class="search-title-text">найти магазин</span>
                            <span class="search-title-icon icon"></span>
                        </div>
                    </form>
                </div>
                <div class="header-list">
                    <a href="#header-list-pop" class="fancybox-pop"><span>Список магазинов</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /HEADER -->

