<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header-wrap">
            <div class="header-item left">
                <div class="header-logo">
                    <div class="header-subtext">
                        <span>27 - 30 ноября скидки до 70%</span>
                    </div>
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>

                </div>
            </div>
            <div class="header-item center">
                <a href="#" class="header-login"><span>Войти</span></a>
                <a href="#" class="header-reg"><span>Зарегистрироваться</span></a>
            </div>
            <div class="header-item right">
                <div class="search-form">
                    <form action="" method="">
                        <div class="search-input">
                            <input type="text" placeholder="Например, Aliexpress" name="search_input" autocomplete="off">
                            <button class="" type="submit"></button>
                        </div>
                        <div class="search-title">
                            <span class="search-title-text"></span>
                            <span class="search-title-icon icon"></span>
                        </div>
                    </form>
                </div>
                <div class="header-list">
                    <a href="#"><span>Список магазинов</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

