<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header-wrap">
            <div class="header-item left">
                <div class="header-logo">
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>
                    <div class="header-subtext">
                        27 - 30 ноября скидки до 70%
                    </div>
                </div>
            </div>
            <div class="header-item center"></div>
            <div class="header-item right"></div>
        </div>
    </div>
</header>
<!-- /HEADER -->

