<div class="hidden-block">

    <div id="header-login-popup">
        <form action="" name="" class="popup-form" method="">
            <div class="pop-main">
                <div class="mbox">
                    <div class="pop-item item-1">
                        <div class="login-title">Вход</div>
                    </div>
                    <div class="pop-item item-2">
                        <div class="contact-form-item">
                            <div class="form-item-input form_row">
                                <div class="form_input">
                                    <input type="email" name="login_email" required="required" value="" placeholder="Введите e-mail">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="login_pass" required="required" value="" placeholder="Введите пароль">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item href">
                            <a href="#"><span>Забыли пароль ?</span></a>
                        </div>
                        <div class="contact-form-item ">
                            <button type="submit" class="contact-submit">
                                <span>Войти</span>
                            </button>
                        </div>
                    </div>
                    <div class="pop-item item-3">
                        <div class="social-button">
                            <span>Войти через соцсети</span>
                            <ul class="cfix">
                                <li><a href="#"><img src="images/social-img-1.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-2.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-3.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-4.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-5.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-6.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-7.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="default-close"></div>
                </div>
            </div>
        </form>
    </div>
    <div id="header-reg-popup">
        <form action="" name="" class="popup-form" method="">
            <div class="pop-main">
                <div class="mbox">
                    <div class="pop-item item-1">
                        <div class="login-title">Регистрация аккаунта
                            <div class="login-subtitle">
                               Добро пожаловать на наш <br>
                               сайт! Зарегистрируйтесь <br>
                               и получайте деньги<br>
                               за свои покупки.
                            </div>
                        </div>
                    </div>
                    <div class="pop-item item-2">
                        <div class="contact-form-item">
                            <div class="form-item-input form_row">
                                <div class="form_input">
                                    <input type="email" name="reg_email" required="required" value="" placeholder="Введите e-mail">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="form-item-input form_row">
                                <div class="form_input">
                                    <input type="password" name="password" id="password"required="required" value="" placeholder="Введите пароль">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="form-item-input form_row">
                                <div class="form_input">
                                    <input type="password" name="re_password" id="re_password" required="required" value="" placeholder="Повторите пароль">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item href form_row">
                            <div class="item-checkbox ">
                                <label for="item_checkbox">
                                    <input type="checkbox" id="item_checkbox" name="item_checkbox" required="required">
                                    <span></span>
                                </label>
                            </div>
                            <a href="#"><span>Принимаю правила сайта</span></a>
                        </div>
                        <div class="contact-form-item ">
                            <button type="submit" class="contact-submit">
                                <span>Войти</span>
                            </button>
                        </div>
                    </div>
                    <div class="pop-item item-3">
                        <div class="social-button">
                            <span>Войти через соцсети</span>
                            <ul class="cfix">
                                <li><a href="#"><img src="images/social-img-1.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-2.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-3.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-4.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-5.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-6.png" alt=""></a></li>
                                <li><a href="#"><img src="images/social-img-7.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="default-close"></div>
                </div>
            </div>
        </form>
    </div>

    <div id="header-list-pop">
        <div class="pop-main">
            <div class="header-list-pop-wrap">
                <div class="mbox">
                    <div class="list-pop-main">
                        <ul>
                            <li><a href="#"><span>Одежда Обувь</span></a></li>
                            <li><a href="#"><span>Товары из Китая</span></a></li>
                            <li><a href="#"><span>Техника Электроника</span></a></li>
                            <li><a href="#"><span>Путешествия Билеты</span></a></li>
                            <li><a href="#"><span>Детские магазины</span></a></li>
                            <li><a href="#"><span>Американские магазины</span></a></li>
                            <li><a href="#"><span>Красота и здоровье</span></a></li>
                        </ul>
                    </div>
                    <div class="list-pop-submain cfix">
                        <div class="list-pop-item item-1">
                            <ul>
                                <li><a href="#"><span>Зарубежные магазины</span></a></li>
                                <li><a href="#"><span>Для женщин</span></a></li>
                                <li><a href="#"><span>Онлайн-гипермаркеты</span></a></li>
                                <li><a href="#"><span>Мебель</span></a></li>
                                <li><a href="#"><span>Парфюмерия</span></a></li>
                                <li><a href="#"><span>Аксессуары</span></a></li>
                                <li><a href="#"><span>Для мужчин</span></a></li>
                                <li><a href="#"><span>Ювелирные магазины</span></a></li>
                            </ul>
                        </div>
                        <div class="list-pop-item item-2">
                            <ul>
                                <li><a href="#"><span>Книги</span></a></li>
                                <li><a href="#"><span>Товары для дома</span></a></li>
                                <li><a href="#"><span>Финансы и банки</span></a></li>
                                <li><a href="#"><span>Для автолюбителей</span></a></li>
                                <li><a href="#"><span>Спорт и Отдых</span></a></li>
                                <li><a href="#"><span>Игры Развлечения</span></a></li>
                                <li><a href="#"><span>Интернет-сервисы</span></a></li>
                                <li><a href="#"><span>Смартфоны и планшеты</span></a></li>
                            </ul>
                        </div>
                        <div class="list-pop-item item-3">
                            <ul>
                                <li><a href="#"><span>Для Взрослых</span></a></li>
                                <li><a href="#"><span>Инфо-продукты</span></a></li>
                                <li><a href="#"><span>Подарки и сувениры</span></a></li>
                                <li><a href="#"><span>Часы</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="default-close"></div>
                </div>
            </div>
        </div>
    </div>

</div>