<div class="left-wrapp">
    <div class="title"><span>отзывы пользователей</span></div>
    <div class="comments-wrap">
        <div class="item cfix">
            <div class="avatar"><img src="images/otziv13.jpg" alt=""></div>
            <div class="content">
                <p><span>INNNO4KA,</span><span>Москва</span></p>
                <p>Здравствуйте! Сегодняшний мой отзыв будет посвящен теме возврата денег с покупок в интернете. Сама год назад об этом и знать не знала, и догадываться не догадывалась.  на одну статью и ре...<a href="">Читать далее</a></p>
            </div>
        </div>
        <div class="item cfix">
            <div class="avatar"><img src="images/otziv1.png" alt=""></div>
            <div class="content">
                <p><span>INNNO4KA,</span><span>Москва</span></p>
                <p>Здравствуйте! Сегодняшний мой отзыв будет посвящен теме возврата денег с покупок в интернете. Сама год назад об этом и знать не знала, и догадываться не догнаткнулась на одну статью и ре...<a href="">Читать далее</a></p>
            </div>
        </div>
        <div class="item cfix">
            <div class="avatar"><img src="images/otziv13.jpg" alt=""></div>
            <div class="content">
                <p><span>INNNO4KA,</span><span>Москва</span></p>
                <p>Здравствуйте! Сегодняшний мой отзывме возврата денег с покупок в интернете. Сама год назад об этом и знать не знала, и догадываться не догадывалась. Но наткнулась на одну статью и ре...<a href="">Читать далее</a></p>
            </div>
        </div>
        <div class="item cfix">
            <div class="avatar"><img src="images/otziv10.jpg" alt=""></div>
            <div class="content">
                <p><span>INNNO4KA,</span><span>Москва</span></p>
                <p>Здравствуйте! Сегодняшний мой отзыв будет посвящен теме возврата денег с покупок в интернете. Сама год назад об этом и знать не знала, и догадываться неткнулась на одну статью и ре...<a href="">Читать далее</a></p>
            </div>
        </div>
        <div class="item cfix">
            <div class="avatar"><img src="images/otziv13.jpg" alt=""></div>
            <div class="content">
                <p><span>INNNO4KA,</span><span>Москва</span></p>
                <p>Здравствуйте! Сегодняшнийосвящен теме возврата денег с покупок в интернете. Сама год назад об этом и знать не знала, и догадываться не догадывалась. Но наткнулась на одну статью и ре...<a href="">Читать далее</a></p>
            </div>
        </div>
        <a href="#" class="all-comments"></a>
    </div>
    <div class="info">
        <p>Как работает кэшбэк-сервис?</p>
        <p>КэшФоБрендс.ру – это не выдуманные скидки или непонятные бонусные программы. У нас всё просто: Вы покупаете привычные товары в проверенных магазинах и часть денег получаете обратно на свой счет. Все, что для этого нужно — зарегистрироваться и перейти на сайт интернет-магазина с нашего сервиса.</p>
        <p>Это самый простой способ экономить деньги на покупках!</p>
        <p>ЭС нами работают сотни брэндовых магазинов и сервисов: Lamoda, Aliexpress, Gearbest, Дочки и Сыночки, ASOS, Ebay, Ozon, Лабиринт, KupiVIP, Booking.com, Лабиринт и многие другие! Детские магазины, одежда и обувь, техника и электроника, западные брэнды и популярнейшие китайские мегамоллы. Также, здесь можно хорошо сэкономить при бронировании гостиниц и заказе билетов!</p>
        <p>Почему мы?</p>
        <p>1) Cash4brands.ru - это единственный кэшбэк-сервис, где не нужно накапливать кэшбэк. Любое начисление в Ваш аккаунт, даже такое маленькое как 1 рубль, Вы легко сможете получить!</p>
        <p>2) У нас самые быстрые начисления. По большинству покупок, вы сможете получить кэшбэк уже через 2 недели после покупки. Очень часто, это получается даже быстрей, чем вы получите товар :)</p>
        <p>3) Мы платим самый большой процент кэшбэка по большинству магазинов. Если Вы пользуетесь другим кэшбэк-сервисом и там % оказался выше, то напишите нам и мы предоставим Вам лучшие условия :)</p>
        <p>При всем при этом, наш сервис абсолютно бесплатный :) Мы ничего не продаем, мы просто помогаем Вам сэкономить!</p>
    </div>
</div>