<div class="top-section">
    <div class="orange-fit"></div>
    <div class="topsection-wrapp mbox">
        <div class="text-box">

                <h1>Делаете покупки в интернете?</h1>
                <p>у нас за каждую покупку вы будете получать деньги!</p>
                <p>Как это работает:</p>

        </div>
        <div class="orange-content  cfix">
            <a href="#" class="item">
                <p>ВЫБИРАЕТЕ</p>
                <p>МАГАЗИН</p>
                <p>Более 500 магазинов на любой вкус</p>
            </a>
            <a href="#" class="item">
                <p>делаете</p>
                <p>покупку</p>
                <p>Так, как вы делаете это обычно</p>
            </a>
            <a href="#" class="item">
                <p>получаете</p>
                <p>деньги</p>
                <p>У нас нет минимальной суммы к выплате!</p>
            </a>
        </div>
    </div>
    <div class="blue-fit">
        <div class="dot-wrap">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="blue-fit-content mbox">
            <a href="#" class="cash">
                <div class="cash-wrap">
                    <div><b>283810</b><span>покупок совершено</span></div>
                    <div><span>сєкономлено рублей</span><b>6345735</b></div>
                </div>
            </a>
            <a href="#" class="video">
                <p id ="video-play">ВИДЕОРОЛИК</p>
                <p>Как работает кэшбэк (1 мин)</p>
                <div class="vidosik">
                    <iframe id="player" allowfullscreen="1" title="YouTube video player" width="560" height="315" src="https://www.youtube.com/embed/I_SphnjTNEY?widget_referrer=http%3A%2F%2Fcash4brands.ru%2Fstatic%2F&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fcash4brands.ru"></iframe>
                </div>
            </a>
            <a href="#" class="bonus">
                <p>БОНУСЫ</p>
                <p>Участвуйте в нашей бонусной программе</p>
            </a>

        </div>
    </div>

</div>