<div class="top-section">
    <div class="orange-fit"></div>
    <div class="blue-fit"></div>
    <div class="topsection-wrapp mbox">
        <div class="text-box">
            <p>Делаете покупки в интернете?</p>
            <p>у нас за каждую покупку вы будете получать деньги!</p>
            <p>Как это работает:</p>
        </div>
        <div class="orange-content  cfix">
            <a href="#" class="item">
                <p>ВЫБИРАЕТЕ</p>
                <p>МАГАЗИН</p>
                <p>Более 500 магазинов на любой вкус</p>
            </a>
            <a href="#" class="item">
                <p>делаете</p>
                <p>покупку</p>
                <p>Так, как вы делаете это обычно</p>
            </a>
            <a href="#" class="item">
                <p>получаете</p>
                <p>деньги</p>
                <p>У нас нет минимальной суммы к выплате!</p>
            </a>
        </div>
    </div>


</div>